body {
  font-family: sans-serif;
}
#mybar {
  width: 10%;
  background-color: #04aa6d;
  height: 30px;
  line-height: 30px;
  color: white;
}
#myprogress {
  width: 100%;
  background-color: grey;
}
